@import "./sass/colors";
@import "./sass/typography";
@import "./sass/functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $accent;
}

body {
  background: $dark;
}

.banner {
  height: min_vw(57px);
  width: min-vw(611px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: $accent;
  font-size: min-vw(32px);
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
  line-height: min-vw(50px);
}

.game-area {
  display: flex;
  gap: 20px;
  height: calc(100vh - 57px);

  & > div {
    border: 1px solid white;
    flex-grow: 1;
    height: 100%;
  }
}