@import '../../../sass/functions';
@import '../../../sass/colors';

.parent-letter-grid {
    display: flex;
    flex-direction: column;

    .options {
        margin-top: min-vw(30px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: min-vw(28px);

        button {
            width: min-vw(150px);
            border-radius: 6px;
            outline: none;
            border: none;
            font-size: min-vw(18px);
            font-weight: bold;
            background-color: $accent;
        }
    }
}