@import '../../../sass/functions';
@import '../../../sass/colors';

.parent-letter-grid {
    display: flex;
    flex-direction: column;

    .options {
        margin-top: min-vw(30px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: min-vw(28px);

        button {
            width: min-vw(150px);
            border-radius: 6px;
            outline: none;
            border: none;
            font-size: min-vw(18px);
            font-weight: bold;
            background-color: $accent;
            cursor: pointer;
        }
    }

    .letter-grid {
        margin-top: min-vw(34px);
        display: grid;
        justify-content: center;
    }

    .alert {
        margin-top: min-vw(34px);
        height: min-vw(81px);
        width: min-vw(431px);
        background: transparent;
        border: 2px $midtone solid;
        margin-left: auto;
        margin-right: auto;
        border-radius: 16px;
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;

        &-show {
            display: flex;
        }

        label {
            font-size: min-vw(16px);
            font-weight: bold;
            color: $light;
        }

        .alert-close {
            position: absolute;
            top: 10%;
            right: 3%;
            cursor: pointer;
        }
    }
}